@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;600&display=swap');

:root{
  --main-color:#be9c79;
  --black:#333;
  --white:#fff;
  --light-color:#666;
  --border:.2rem solid var(--black);
  --box-shadow:0  .5rem 1rem rgba(0, 0, 0, .1);
}

*{
  font-family: 'Nunito',sans-serif;
  margin: 0;padding: 0;
  box-sizing: border-box;
  outline:none;border:none;
  text-decoration: none;
  text-transform: capitalize;
}

*::selection{
  background-color: var(--main-color);
  color:var(--white);
}

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: var(--black);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top:6rem;

}


section{
  padding:3rem 2rem;
  max-width: 1200px;
  margin:0 auto;
}
.heading{
  text-align: center;
  margin-bottom: 3rem;
}

.heading img{
  height: 4rem;
}

.heading h3{
  font-size: 4rem;
  color:  var(--black);
  font-family: 'Merienda one',cursive;
}
/*Hero btn*/

.btn:hover{
  background-color: var(--black);
  color:var(--white);
}


.header{
position: sticky;
z-index:1000;
/*background: linear-gradient(90deg, var(--black),transparent 40%);*/
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px 10px 20px;
}
.H-text{
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}
.logo h2{
    color: black;
}

.header .flex .navbar a{
  margin-left:2rem;
  font-size: 1.5rem;
  color: black;
  display:inline-block;
  padding-left: 15px;
}

.header .flex .navbar a:hover{
  text-decoration: underline;
  color:var(--main-color);
}

#menu-btn{
  display: none;
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
}



.home-bgn .home{
    display: flex;
    justify-content: space-between;
}

.home-bgn .home  .content{
  width: 50rem;
  color: black;
}
.content{
  padding-top: 15rem;
  padding-left: 1.5rem;
  margin-left: 0;
}


.cta-container {
  position: relative;   /* Position background relative to the container */
  width: 300px;         /* Set the width of the button container */
  height: 100px;        /* Height for the container */
  margin-top: 2px;     /* Add space between the text and button */
  overflow: visible;    /* Allow the background to extend outside the container */
}

/* Container that holds the button and the background */
.cta-container {
  position: relative; /* Allows child elements to be positioned inside */
  display: flex;       /* Center the button horizontally and vertically */
  align-items: center;
  width: 300px;        /* Set width of the container */
  height: 100px;       /* Set height of the container */
      /* Adjust positioning relative to other content */
}

/* The dotted background */
.cta-container::before {
  content: '';
  position: absolute;     
  top: 40px;             
  left: -40px;            
  width: 110%;            
  height: 100%;           
  background-image: url('img/Dot\ Ornament.png'); 
  background-size: contain; 
  background-repeat: repeat-x; 
  z-index: -1;    
      
}

/* Button styling */
.btn{
  display: inline-block;
  margin-top: 1rem;
  background-color:rgb(42, 42, 247);
  padding:15px 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 30px;
}
/*hero Image*/
/* Container for the image */

.image-container {
  position: relative;  /* Ensures that the pseudo-elements are positioned relative to this container */
  display: inline-block;
}



/* Circle on the top left */
.image-container::before {
  content: '';
  position: absolute;
  top: 0;          /* Position the circle slightly above the image */
  left: 50px;         /* Position the circle slightly to the left of the image */
  width: 100px;        /* Width of the top-left circle */
  height: 100px;       /* Height of the top-left circle */
  background-color: #dfefff; 
  border-radius: 50%; 
  z-index: -1;        
}

/* Circle on the bottom right */
.image-container::after {
  content: '';
  position: absolute;
  bottom: -70px;       /* Position the circle below the image */
  right: -30px;        /* Position the circle slightly to the right of the image */
  width: 120px;        /* Width of the bottom-right circle */
  height: 120px;       /* Height of the bottom-right circle */
  background-color: #fdf1d0;  /* Light yellow color */
  border-radius:1px 1px 100px 0px ;  
  z-index: -1;        
}


.image-container {
    width: 50%;
    overflow: visible;
    margin-left: 3rem;
   
  }

 .image-container img{
    padding-left: 10rem;
    width: 752px;
    height: 512px;
 }

.home-bgn .home  .content h3{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.home-bgn .home  .content p{
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 471px;
  margin-bottom: 15px;
}

.about-section{
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px 10px 10px;
}
.about-cont{
  font-size: 16px;
  padding-left: 16px;
  padding-bottom: 30px;
}
.about-cont h2{
  font-size: 26px;
  padding-bottom: 10px;
}
.img-span{
  padding-top: 15px;
}
.img-span img{
  margin-left:2rem;
  height: 4rem; 
  display:inline-block;
  padding-left: 15px;
}
.img-span .uber{
  height:30px;
  padding-bottom: 9.8px;
}
.img-span .Amazon{
  height:38px;
  padding-top: 8px;
}

/* we can help your business */
.about-us{
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.about-us .about-img{
  flex: 1 1 50rem;
}

.about-img img{
  width: 100%;
}
.about-us .about-text{
  flex: 1 1 50rem;
  background-image: url(img/Rectangle\ 26.png);
  background-repeat: no-repeat;
  background-position: top left;
  left:40px;
  top: 30px;
  z-index: -1;
}
.about-us .about-text h2{
  font-size: 36px;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.about-us .about-text p{
  font-size: 16px;
  margin-bottom: 2rem;
  padding-left: 2rem;

}
/*Services Section*/
.container{
  overflow: hidden;
  z-index: 0;
}

.sec-content{
  display: flex;
  gap: 5rem;
    position: relative;
    padding: 5rem 0;
    align-items: center;
    text-align: left;
   
  }
  
  .sec-content::before {
    content: '';
    position: absolute;
    top: 350px;
    left: -10px;
    width: 160px;
    height: 150px;
    background: #ffefc6; /* Yellow background color */
    border-radius: 80px 0 0 0;
    z-index: -2;
  }
  
  .sec-content::after {
    content: '';
    position:fixed ; 
    top: 115rem;
    right: -10rem;
    width: 100%;
    height: 650px;
    background-image: url('img/Card-bg.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain; /* Adjust size based on image */
    z-index: -2;
    
  }

  .sec-text::before {
    content: '';
    position: absolute;     
    bottom: 110px;           
    left: -40px;            
    width: 50%;            
    height: 150px;           
    background-image: url('img/Group\ 70Dotted-card.png'); 
    background-size: contain; 
    background-repeat: repeat-x; 
    z-index: -3;    
        
  }
  

.sec-text{
  font-size: 24px;
  width: 496px;
  align-items: center;
}

.sec-text h2{
  font-size: 32px;
}

.services{
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 5px;
margin-top: 15rem;
}

.services-2{
  display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 5px;
}
/* Global card border radius */
.service{
  border-radius: 40px;
}
.card-gap{
  margin: 1rem 0rem 1rem;

}
/* First card */
.card {
  background: #fff;

  padding: 20px;
  width: 308px;
  height:379px ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  transition: transform 0.3s;
}

.card-1 {
  background: #fff;

  padding: 20px;
  width: 308px;
  height:379px ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  transition: transform 0.3s;
}

.card-2 {
  background: #fff;
  padding: 20px;
  width: 308px;
  height:379px ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  transition: transform 0.3s;
}

.card-3 {
  background: #fff;
  padding: 20px;
  width: 308px;
  height:379px ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  transition: transform 0.3s;
}

.service h3{
  font-size: 24px;
  padding: 2px;
  margin: 30px auto 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.service p {
  text-align: center;
  font-size: 16px;
}

#business {
  padding: 1rem 0 1rem;
}

#financial {
  padding: 1rem 0 1rem;
}

#wallet{
  padding: 1rem 0 1rem;
}

#networking{
  padding: 1rem 0 1rem;
}


.review-row{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.review-header{
  text-align: center;
  margin: 10rem 0px 10rem;
}

.review-header h2{
  font-size: 40px;
}
.review-header p{
  font-size: 18px;
}
.box-1 img{

width: 389px;
height: 389px;

}

.box-3 img{
  width: 348px;
  height: 355px;
}

.box-3::after {
  content: '';
  position: fixed;
   top:300rem ;   /* Position the circle below the image */
  right: 325px;     /* Position the circle slightly to the right of the image */
  width: 160px;        /* Width of the bottom-right circle */
  height: 160px;       /* Height of the bottom-right circle */
  background-color: #fdf1d0;  /* Light yellow color */
  border-radius: 100%;  
  z-index: -1;  
}
.box-2{
  margin-bottom: 5rem;
}
.dot{
  height: 12px;
  width:12px;
  display: inline-block;
  background: blue;
  margin: 10px 10px 10px;
  border-radius: 50px;
}

.dot-1{
height: 12px;
width: 12px;
background: #e7f0fc;
margin: 10px 10px 10px;
display: inline-block;
border-radius: 50px;
}


.box-2 h2{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2rem;
}

.box-2 p{
  font-size: 16px;
}


/*Section for Newsletter*/
.Newsletter{
  margin-top: 10rem;
}



.container-1 {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 40px;
  padding: 80px 80px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: url('img/Rectangle\ 31\(1\).png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
}

.container-1::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff5db;
  border-radius: 0 0 0 50%;
  left: -40px;
  bottom: -25px;
  z-index: -1;
}

.container-1::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(img/Dot.png);
  background-position: right;
  right: -15px;
  top: -60px;
  z-index: -1;
}

.text-section {
  flex: 1;
}

.text-section h2 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  color: #333;
}

.text-section p {
  margin: 5px 0 0;
  color: #777;
  font-size: 14px;
}

.input-section {
  flex: 1 ;
  display: flex;
 /* align-items: center;
  justify-content: center;*/
  width: 400px;
  max-width: 100%;
  position: relative;
  
}

.input-section input[type="email"] {
  padding: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  width: 580px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 25px 30px;
  
}

.input-section button {
  background-color: #2347f0;
  color: white;
  border: none;
  padding: 15px 30px;
  
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  position: absolute;
  z-index: 2;
  right: 1rem;
  top: .95rem;
}

.input-section button:hover {
  background-color: #1b36c8;
}

.footer {
  padding: 3rem 0;
  font-family: 'Arial', sans-serif;
  margin-top: 20rem;
  border-top: 1px solid #e4e4e4;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.footer-column {
  max-width: 30rem;
  margin-bottom: 2rem;
  align-items: center;
}


.footer-column h3 {
  font-size: 24px;
  color: #000;
  margin-bottom: 2rem;
}

.footer-column p{
  font-size: 12px;
}

.footer-column-1 {
  margin-bottom: 2rem;
  margin-left: 5rem;
  align-items: center;
}

.footer-column-1 h3 {
  font-size: 24px;
  color: #000;
  margin-bottom: 1rem;
}

.footer-column-1 ul {
  list-style: none;
  padding-top: 10px;
}

.footer-column-1 ul li {
  margin-bottom: 0.5rem;
}

.footer-column-1 ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
  font-size: 14px;
}

.footer-column-1 ul li a:hover {
  color: #3498db;
}

.about-us p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: #555;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #3498db;
}

.footer-bottom {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  margin-top: 2rem;
  color: #888;
}























@media (max-width:991px){

    html{
      font-size: 55%;
    }

}


@media (max-width:769px){
#menu-btn{
    display: inline-block;
    transition: .2s linear;
  }
  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .header .flex .navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    font-size: 2rem;
    /*background: linear-gradient(90deg, var(--white),transparent 20%);*/
    border-top:var(--border);
    border-bottom:var(--border);
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
    transition: .3s linear;
    background-color: var(--black);
  }

  .header .flex .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }


    .header .flex .navbar a{
      display: block;
      margin: 2rem;
      color: var(--white);
      font-family: 'Nunito',sans-serif;
      font-size: 1.5rem;
    }

    .home-bgn{
      background-position: left;
    }

    .home-bgn .home{
      justify-content: center;
    }
  .home-bgn .home .content h3{
    font-size: 4rem;
  }

.about .content h3{
  font-size: 3rem;
}

}




@media (max-width:450px){

    html{
      font-size: 50%;
    }
.heading h3{
  font-size: 2.5rem;
}
}




  @media (max-width:414px){
    
  #menu-btn{
      display: inline-block;
      transition: .2s linear;
    }
    #menu-btn.fa-times{
      transform: rotate(180deg);
    }

    .header .flex .navbar{
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      font-size: 2rem;
      /*background: linear-gradient(90deg, var(--white),transparent 20%);*/
      border-top:var(--border);
      border-bottom:var(--border);
      clip-path: polygon(0 0,100% 0,100% 0,0 0);
      transition: .3s linear;
      background-color: var(--black);
    }

    .header .flex .navbar.active{
      clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }


      .header .flex .navbar a{
        display: block;
        margin: 2rem;
        color: var(--white);
        font-family: 'Nunito',sans-serif;
        font-size: 1.5rem;
      }

      .home-bgn{
        background-position: left;
      }

      .home-bgn .home{
        justify-content: center;
      }
    .home-bgn .home .content h3{
      font-size: 4rem;
    }

  .about .content h3{
    font-size: 3rem;
  }

  }
